.popover {
  &__overlay {
    @apply bg-popover-overlay
      cursor-pointer
      fixed
      h-screen
      left-0
      top-0
      w-screen
      z-20;

    opacity: 0.95;
  }

  &__open {
    @apply duration-200 ease-in-out text-left transform transition-transform;

    background: -webkit-linear-gradient(
      45deg,
      var(--color-primary),
      var(--color-primary-light)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @media (min-width: 8.5in) {
      background-image: unset;
      background-clip: unset;
      -webkit-background-clip: unset;
      -webkit-text-fill-color: unset;
    }

    &:hover,
    &--expanded {
      @apply text-primary;

      background: -webkit-linear-gradient(
        45deg,
        var(--color-primary),
        var(--color-primary-light)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    &--expanded {
      @apply relative translate-x-6 text-primary z-30;

      &::before {
        @apply animate-none hidden;
      }
    }

    &::before {
      @apply -left-1 absolute bg-primary h-2 rounded-full top-px transform scale-0 w-2;

      content: '';

      .section:hover &,
      .app-header:hover & {
        animation: popover-ping 1.5s ease-out infinite;
      }
    }
  }

  &__close {
    @apply absolute
      duration-200
      ease-in-out
      flex
      top-0
      left-0
      rounded-full
      invisible
      text-primary
      top-1
      transition-transform
      z-30;

    &:active {
      transform: scale(0.9);
    }

    &--expanded {
      @apply visible;
    }
  }

  &__close-svg {
    @apply flex h-4 items-center justify-center w-4;
  }

  &__content {
    @apply absolute
      bg-popover-bg
      duration-200
      ease-in-out
      invisible
      leading-relaxed
      left-0
      max-w-0
      opacity-0
      p-8
      text-sm
      top-8
      w-full
      z-30
      letter:left-auto
      letter:top-auto
      letter:w-screen;

    box-shadow: 0 0.125rem 1rem -0.375rem rgba(0, 0, 0, 0.1),
      0 2rem 3rem -1.5rem rgba(0, 0, 0, 0.1);
    transform: translateY(2rem);

    &--expanded {
      @apply opacity-100 visible;

      transition-property: opacity, transform;
      transform: translateY(0);
    }

    &--markdown {
      h1,
      h2,
      h3 {
        @apply mb-2;
      }

      h3 {
        @apply text-base;
      }

      p,
      ul {
        @apply mb-4 last:mb-0;
      }

      ol,
      ul {
        @apply list-inside mb-4;
        margin-left: 1.375em;
      }

      ul {
        @apply list-disc;
        margin-left: 1.375em;

        li {
          &::first-line {
            text-indent: -1.375em;
          }
        }
      }

      ol {
        @apply list-decimal;
        margin-left: 1.25em;

        li {
          &::first-line {
            text-indent: -1.1875em;
          }
        }
      }

      code {
        @apply text-pink-500;
      }
    }
  }
}
