.app {
  @apply bg-bg
    m-auto
    min-h-screen
    letter:w-letter
    pb-8
    pt-10
    px-8
    relative
    z-0;

  &__bg {
    @apply hidden
    letter:absolute
    letter:block
    letter:text-bg-accent
    letter:-z-1;

    path {
      fill: currentColor;
    }

    &--top {
      @apply letter:left-0 letter:top-0;
      height: auto;
      width: 5.253in;
    }

    &--bottom {
      @apply letter:right-0 letter:bottom-0;
      height: auto;
      width: 3.247in;
    }
  }
}
