.darkmode-button {
  --heightButton: 2rem;
  --switchSize: calc((var(--heightButton) - 0.5rem));
  --widthButton: 3.5rem;

  @apply absolute
    bg-bg-accent
    border
    border-transparent
    duration-200
    ease-in-out
    flex
    items-center
    p-1
    right-0
    rounded-full
    top-1.5
    z-0;

  transition-property: border;

  &:hover {
    @apply border-primary;
  }

  height: var(--heightButton);
  width: var(--widthButton);

  &__sr-text {
    @apply sr-only;
  }

  &__switch-handle {
    @apply bg-primary
      duration-200
      ease-in-out
      inline-flex
      rounded-full;

    height: var(--switchSize);
    transition-property: transform;
    width: var(--switchSize);

    .darkmode-button:active & {
      transform: scale(0.9);
    }

    &--disabled {
      transform: translateX(
        calc(var(--widthButton) - var(--switchSize) - 0.625rem)
      );

      .darkmode-button:active & {
        transform: scale(0.9)
          translateX(calc(var(--widthButton) - var(--switchSize) - 0.5rem));
      }
    }
  }

  &__svg {
    @apply h-4 m-auto w-4;

    &--light {
      @apply text-white;
    }

    &--dark {
      @apply left-px relative text-white;
    }
  }
}
