.entry {
  --width-date: theme(width.28);

  @apply relative;

  &__header {
    width: calc(100% - var(--width-date));
  }

  &__heading {
    &--desktop-hidden {
      @apply letter:sr-only;
    }
  }

  &__content {
    @apply gap-4 grid letter:grid-cols-9;
  }

  &__date {
    width: var(--width-date);

    @apply absolute
      right-0
      text-right
      top-0
      letter:col-span-1
      letter:col-start-9
      letter:justify-self-end
      letter:static
      letter:text-left
      letter:w-auto;
  }

  &__description {
    @apply letter:col-span-8 letter:col-start-1 letter:pr-4 letter:row-start-1;

    &--without-date {
      @apply letter:col-span-full letter:pr-0;
    }
  }

  &__list {
    @apply letter:col-span-8 letter:col-start-1 letter:pr-4;

    &--without-date {
      @apply letter:col-span-full letter:pr-0;
    }
  }
}
