.app-loader {
  @apply h-screen mx-auto p-8 letter:w-letter w-full;

  &__grid {
    @apply bg-bg gap-y-8 grid h-full pb-8 pt-10 px-8 w-full;
    grid-template-rows: auto 1fr;
  }

  &__header {
    @apply grid grid-cols-12 gap-y-8;
  }

  &__content {
    @apply grid grid-cols-12 gap-y-8;
  }

  &__item {
    @apply bg-section-accent relative rounded overflow-x-hidden;

    &::before {
      @apply absolute h-full right-full top-0;

      animation: loader 3s ease-in-out infinite;
      background-image: linear-gradient(
        90deg,
        transparent,
        rgba(255, 255, 255, 0.03125),
        transparent
      );
      content: '';
      width: 100%;
    }
  }
}
