.darkmode-button {
  --heightButton: 1.75rem;
  --switchSize: calc((var(--heightButton) - 0.25rem));
  --widthButton: 3.25rem;

  @apply absolute
    bg-primary-light
    flex
    focus:outline-none
    items-center
    p-1
    right-0
    rounded-full
    top-1.5
    z-0;

  height: var(--heightButton);
  width: var(--widthButton);

  &__sr-text {
    @apply sr-only;
  }

  &__switch-handle {
    @apply bg-primary duration-200 ease-in-out inline-flex rounded-full;

    height: var(--switchSize);
    transition-property: transform;
    width: var(--switchSize);

    &--enabled {
      transform: translateX(
        calc(var(--widthButton) - var(--switchSize) - 0.5rem)
      );
    }
  }

  &__svg {
    @apply h-4 m-auto w-4;

    &--light {
      @apply text-white;
    }

    &--dark {
      @apply left-px relative text-white;
    }
  }
}
