:root {
  --color-bg-accent: #ecebf5;
  --color-bg: #f8f8f8;
  --color-body: #f8f8f8;
  --color-popover-overlay: #ffffff;
  --color-popover-bg: #ffffff;
  --color-primary: #4c36d3;
  --color-primary-light: #9988ff;
  --color-section-accent: #ecebf5;
  --color-text: #252427;
}

body.dark-mode {
  --color-bg-accent: #161329;
  --color-bg: #0f0e12;
  --color-body: #14121c;
  --color-popover-overlay: #0e0e0e;
  --color-popover-bg: #161329;
  --color-primary-light: #a293ff;
  --color-primary: #7761ff;
  --color-section-accent: #1b172d;
  --color-text: #d6d3e5;
}
